-
  const nav = [
    { title: 'Home', link: '#' },
    { title: 'Drivers', link: '#' },
    { title: 'Terms', link: '#' },
    { title: 'Privacy', link: '#' },
    { title: 'Contacts', link: '#' }
  ]

  // const footClass = 'footer';
  // const navClass = 'nav';
  // const copyrightClass = 'copyright';

  const footClass = 'foot';
  const navClass = 'navigation';
  const copyrightClass = 'copy';

footer(class=`${footClass}`)
  div.container
    div(class=`${footClass}__wrap`)
      div(class=`${footClass}__left`)
        p(class=`${copyrightClass}`) © 2020 Driversol.com - Drivers Download Center. All rights reserved.

      div(class=`${footClass}__right`)
        ul(class=`${navClass}`)
          each el in nav
            li(class=`${navClass}__el`)
              a(class=`${navClass}__link`)(href=el.link)=el.title
        #lang-select.language
          span.language__active English
          i.icon.icon-earch
          ul.language__list
            li.language__el.selected(data-lang='en')
              a(href='#') English
            li.language__el(data-lang='de')
              a(href='#') Deutsch
            li.language__el(data-lang='de')
              a(href='#') Espanol
            li.language__el(data-lang='fr')
              a(href='#') Franch
            li.language__el(data-lang='it')
              a(href='#') Italian
