-
  // const promoClass = 'promo';
  const promoClass = 'ad';

div(class=`${promoClass}`)
  div(class=`${promoClass}__left`)
    div(class=`${promoClass}__info`)
      span(class=`${promoClass}__icon`)
        i.icon.icon-promo
      div(class=`${promoClass}__text`)
        span(class=`${promoClass}__title`) TweakBit Driver Updater
        span(class=`${promoClass}__descr`)  - Updates drivers automatically. Identifies & Fixes Unknown Devices.
  div(class=`${promoClass}__right`)
    a(href='#').btn.is-green.full-width Download